#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Internet Abschalten
Exec=/bin/sh -ec "sudo internet_disable && xmessage Internet deaktiviert."
Type=Application
